# Python関連
venv/
__pycache__/
*.pyc
.pytest_cache/

# データベース関連
db.sqlite
backend/docker/postgresql/data/*
backend/docker/postgresql/test_data/*

# マイグレーションファイル
backend/migrations/versions/*

# 環境設定
.env
