# Python関連
venv/
__pycache__/
*.pyc
.pytest_cache/

# データベース関連
db.sqlite
backend/docker/postgresql/data/*
backend/docker/postgresql/test_data/*

# マイグレーションファイル
_backend/app/migrations/versions/*
_!/backend/app/migrations/versions/.gitkeep

# 環境設定
.env
